<!--app-top-bar></app-top-bar-->

<div class="cajaP">
  <div class="cajaUno" id="cajaUno">

    <div class="rUno">
      <div class="card">
          <div class="front">
            <div class="nombre">
              <p>Agregar ruta</p>
            </div>
            <div id="open" class="mas">+</div>

            <div id="popup" style="display: none;">
              <div class="overL" id="close1"></div>
              <div class="content-popup">
                  <div class="close"><a href="#" id="close">X</a></div>
                  <div>
                    <h2>Asignación de ruta</h2>
                    <div class="buscador">
                      <input type="search" id="miBusqueda" placeholder="Ingrese nombre de ruta">
                    </div>
                    <div class="resultados">
                      <ul>
                        <li>
                          <a href="#"><i class="fas fa-map-marked-alt"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-map-marked-alt"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-map-marked-alt"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-map-marked-alt"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-map-marked-alt"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-map-marked-alt"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-map-marked-alt"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-map-marked-alt"></i>ejemplo 1</a>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>

            <!--div class="numero">0</div>
            <div class="nombreA">
              caja 1
              <a href="#">X</a>
            </div-->
          </div>
          <!--div class="items">
            <a href="#"><i class="fas fa-dolly"></i>Asociar estiba</a>
            <a href="#"><i class="fas fa-trash-alt"></i>Quitar ruta</a>
          </div-->
      </div>
    </div>

    <div class="rUno">
      <div class="card">
          <div class="front">
            <div class="nombre">
              <p>Aranjuez - Parque auysdga asgdsayd</p>
            </div>
            <!--div class="mas">+</div-->
            <div class="numero">0</div>
            <!--div class="nombreA">
              caja 1
              <a href="#">X</a>
            </div-->
          </div>
          <div class="items">
            <a href="#" id="open2"><i class="fas fa-dolly"></i>Asociar estiba</a>
            <a href="#"><i class="fas fa-trash-alt"></i>Quitar ruta</a>
          </div>

            <div id="popup2" style="display: none;">
              <div class="overL" id="clos1"></div>
              <div class="content-popup">
                  <div class="close"><a href="#" id="clos">X</a></div>
                  <div>
                    <h2>Asociar estiba a ruta: Aranjuez - Parque auysdga asgdsayd</h2>
                    <div class="buscador">
                      <input type="search" id="miBusqueda" placeholder="Ingrese nombre de ruta">
                    </div>
                    <div class="resultados">
                      <ul>
                        <li>
                          <a href="#"><i class="fas fa-dolly"></i>ejemplo 4</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-dolly"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-dolly"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-dolly"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-dolly"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-dolly"></i>ejemplo 1</a>
                        </li>
                        <li>
                          <a href="#"><i class="fas fa-dolly"></i>ejemplo 1</a>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
      </div>
    </div>

    <div class="rUno">
      <div class="card">
          <div class="front">
            <div class="nombre">
              <p>Aranjuez - Parque</p>
            </div>
            <!--div class="mas">+</div-->
            <div class="numero">0</div>
            <div class="nombreA">
              Estiba 1
              <a href="#">X</a>
            </div>
          </div>
          <div class="items">
            <!--<a href="#"><i class="fas fa-dolly"></i>Asociar estiba</a>-->
            <a href="#"><i class="fas fa-trash-alt"></i>Quitar ruta</a>
          </div>
      </div>
    </div>

    <div class="rUno">
      <div class="card">
          <div class="front">
            <div class="nombre">
              <p>Aranjuez - Parque</p>
            </div>
            <!--div class="mas">+</div-->
            <div class="numero">0</div>
            <div class="nombreA">
              Estiba 1
              <a href="#">X</a>
            </div>
          </div>
          <div class="items">
            <!--<a href="#"><i class="fas fa-dolly"></i>Asociar estiba</a>-->
            <a href="#"><i class="fas fa-trash-alt"></i>Quitar ruta</a>
          </div>
      </div>
    </div>

    <div class="rUno">
      <div class="card">
          <div class="front">
            <div class="nombre">
              <p>Aranjuez - Parque</p>
            </div>
            <!--div class="mas">+</div-->
            <div class="numero">0</div>
            <div class="nombreA">
              Estiba 1
              <a href="#">X</a>
            </div>
          </div>
          <div class="items">
            <!--<a href="#"><i class="fas fa-dolly"></i>Asociar estiba</a>-->
            <a href="#"><i class="fas fa-trash-alt"></i>Quitar ruta</a>
          </div>
      </div>
    </div>

    <div class="rUno">
      <div class="card">
          <div class="front">
            <div class="nombre">
              <p>Aranjuez - Parque</p>
            </div>
            <!--div class="mas">+</div-->
            <div class="numero">0</div>
            <div class="nombreA">
              Estiba 1
              <a href="#">X</a>
            </div>
          </div>
          <div class="items">
            <!--<a href="#"><i class="fas fa-dolly"></i>Asociar estiba</a>-->
            <a href="#"><i class="fas fa-trash-alt"></i>Quitar ruta</a>
          </div>
      </div>
    </div>

  </div>

  <div class="cajaDos">

    <div class="buscador buscadorO">
      <span>
        <i id="ver-info" class="fas fa-eye"></i>
      </span>
      <input type="search" id="miBusqueda" placeholder="Ingrese código de barras">
    </div>

    <div class="estado-no">
      <span><i class="fas fa-exclamation"></i>Estado no</span>
      <p>Estado: hola mundo</p>
    </div>

    <div class="estado-si">
      <span><i class="fas fa-check-circle"></i>Estado si</span>
      <p>Estado: hola mundo</p>
    </div>

    <div class="estado-er">
      <span><i class="fas fa-exclamation-triangle"></i>Estado no error</span>
      <p>Estado: hola mundo</p>
    </div>

    <div class="infoP">
      <div class="infoC">
        <p><i class="fas fa-box"></i>CAJA: 2654449784564</p>
      </div>

      <div class="infoC2">

        <div class="info">
          <span>Geneador</span>
          <p>Línea directa</p>
        </div>

        <div class="info">
          <span>CEDI</span>
          <p>CEDI Medellín</p>
        </div>

        <div class="info">
          <span>Ruta</span>
          <p>Aranjuez - Parque auysdga asgdsayd</p>
        </div>

      </div>
      
      <div class="infoC">
        <p><i class="fas fa-user"></i>Asesor</p>
      </div>

      <div class="infoC2">

        <div class="info">
          <span>Documento</span>
          <p>5-555-555</p>
        </div>

        <div class="info">
          <span>Nombre</span>
          <p>Medellín</p>
        </div>

        <div class="info">
          <span>Teléfono</span>
          <p>555-55-55</p>
        </div>

        <div class="info">
          <span>Celular</span>
          <p>555-555-55-55</p>
        </div>

        <div class="info">
          <span>Departamento</span>
          <p>Antioquia</p>
        </div>

        <div class="info">
          <span>Ciudad</span>
          <p>Medellín</p>
        </div>

        <div class="info">
          <span>Barrio</span>
          <p>Aranjuez</p>
        </div>

        <div class="info">
          <span>Dirección</span>
          <p>Calle 00 # 00b - 00 Apto 000</p>
        </div>

        <div class="info">
          <span>Código población</span>
          <p>00000</p>
        </div>

        <div class="info">
          <span>Código zona</span>
          <p>00000</p>
        </div>

      </div>

    </div>

  </div>
</div>
<!--router-outlet></router-outlet-->